.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* =========== Form ============ */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.button {
    --color: var(--color-bg);
    --background: var(--color-primary);
    --height: 41px;
    --width: 160px;
    --icon: #5ed138;   
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    background: none;
    appearance: none;
    -webkit-top-highlight-color: transparent;
    width: var(--width);
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color);
    line-height: var(--height);
}

.button::before, .button::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button::before{
    transform: translate(-50%, -50%);
    width: var(--before-w, var(--width));
    height: var(--before-h, var(--height));
    border-radius: var(--before-r, 7px);
    background: var(--background);
    transform-origin: 50% 50%;
    transition: width 0.3s, height 0.3s, border-radius 0.2s;
    transition-delay: 0.2s;
}

.button::after{
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: var(--icon);
    z-index: 2;
    border-radius: 50%;
    transform: scale(0)
}

.button span{
    z-index: 1;
    display: block;
    position: relative;
    opacity: var(--span-o, 1);
    transform: scale(var(--span-s, 1));
    transition: opacity 0.3s, transform 0.2s;
    transition-delay: 0.2s;
}

.button svg{
    width: 15px;
    height: 13px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    stroke: var(--icon);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transform: translate(-50%, -50%);
    stroke-dasharray: 17px;
    stroke-dashoffset: var(--svg-o, 17px);
    transition: stroke-dashoffset 0.3s ease;
}

.button.processing{
    --before-w: 41px;
    --before-h: 41px;
    --before-r: 22px;
    --span-o: 0;
    --span-s: .6;
    --svg-o: 34px;
    width: var( --height);
}

.button.processing::before{
    animation: pulse 3s linear forwards;
}

.button.processing::after{
    animation: dot 3s linear forwards;
}

.button.processing svg{
    transition-delay: 3s;
}

@keyframes pulse{
    4% {
        transform: translate(-50%, -50%) scaleX(1.1);
    }

    8% {
        transform: translate(-50%, -50%);
    }

    24%, 56%, 88% {
        transform: translate(-50%, -50%) scale(0.8);
    }

    40%, 72% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@keyframes dot{
    8% {
        transform: scale(0); 
    }

    16% {
        transform: scale(1) rotate(30deg) translateX(48px);
    }

    95% {
        transform: scale(1) rotate(100deg) translateX(48px);
    }

    100% {
        transform: scale(0.125) rotate(1050deg) translateX(52px, -6px);
    }
}


/* ============= Media Query (Medium Devices) ================ */

@media screen and (max-width: 1024px) {
    .contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


/* ============= Media Query (Small Devices) ================ */

@media screen and (max-width: 600px) {
    .contact__container{
        width: var(--container-width-sm);
    }
}